<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns="http://www.springframework.org/schema/beans"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id = "testDao" class="ru.otus.homework.dao.TestDaoImpl">
        <constructor-arg name = "url" value=""></constructor-arg>
    </bean>

    <bean id = "personDao" class="ru.otus.homework.dao.PersonDaoImpl"></bean>

    <bean id = "personAnswerDao" class="ru.otus.homework.dao.PersonAnswerDaoImpl"></bean>

    <bean id = "testService" class="ru.otus.homework.service.TestServiceImpl">
        <constructor-arg name = "testDao" ref = "testDao"></constructor-arg>
        <constructor-arg name = "personDao" ref = "personDao"></constructor-arg>
        <constructor-arg name = "personAnswerDao" ref = "personAnswerDao"></constructor-arg>
    </bean>

</beans>
